<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/mobiles.html">Mobiles</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/speakers.html">Speakers</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/headset.html ">Headset</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/accessories.html">Accessories</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/aboutus.html">About us <i class="fa fa-coffee text-danger"></i></a>
</li>
